

.home {

  @media @mobile {
    padding: 0% 5%;
}

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width:100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile {
        display: flex;
        width:100%;
        padding-left: 0%;
      }

      img {
        border-radius: 10px;

        @media @mobile{
          min-width: 100%;
          display: flex;
          object-fit: cover;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile{
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile{
      width:100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile{
      flex-direction: column;
      padding:5% 10%;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile{
        width:100%;
      }

      .btn{
        .custom-button(teal, 80%, white);

        &:hover{
          background-color: lighten(teal, 20%);
          cursor: pointer;
        }

        @media @mobile{
          .custom-button(teal, 100%,white);
        }
      }
    }
  }

  .signup{
    display: flex;

    form{
      width:100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .input{
        input{
          margin-bottom: 5%;
        }
      }

      .package{
        margin-top: 2%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .submit, .select{
          width:100%;
          display: flex;
          justify-content: center;

          select{
              width: 80%;
              padding: 16px 20px;
              border: none;
              border-radius: 10%;
              background-color: #f1f1f1;
              font-size: 1.5rem;
          }
        }


        input{
          .custom-button(teal, 30%, white);
          padding:2%;

          &:hover{
            background-color: lighten(teal, 20%);
            cursor: pointer;
          }
        }
      }

      div{
        width:50%;
        margin-bottom: 3%;

        label{
          font-size: 1.5rem;
        }
        input{
          padding:1%;
          width:80%;
        }
      }

    }
  }
}// home