// Navigation Styles here
.nav(){
    font-size:1.5rem;
    text-align:center;
    text-decoration: none;
    color: black;
}


.navbar{
    display: flex;
    height:10vh;
    border-bottom: 2px dashed @navigation-border;
    padding: 2.5% 12.5%;
    justify-content: space-between;
    align-items: flex-end;
    
    nav{
        display: flex;
        width: 30%;
        // border:1px solid red;
        justify-content: space-between;

        a{
            // border:1px solid hotpink;
            .nav();
        }
    }

}
